{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static '/css/achievements.css'%}">
    <title>Achievements</title>
    <style>
       
        
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="teacher_intro">About the  Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="achievements">Achievements</a>
                </li>
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                
                <button class="btn btn-warning"> <a class="nav-link" href="signup">SignUp</a></button>
                <button class="btn btn-danger"> <a class="nav-link" href="login">Login</a></button>
            </form>
        </div>
    </nav>
    <div class="container achievements">
        <div _ngcontent-vxk-c155="" class="testimonials-section section-container">
            <h2 _ngcontent-vxk-c155="" class="section-title ng-star-inserted"> Look at the glimpse of our instructors</h2>
            <!---->
            <div _ngcontent-vxk-c155="" class="sub-heading ng-star-inserted"> The qualities that define them </div>
            <!---->
            <div class="container">
                <img src="{% static '/images/achievements.jpg'%}" width="100%" allowfullscreen=""
                    frameborder="0" id="ytplayeroSJnEH2Cb4k" height="500">
            </div>
            <div _ngcontent-vxk-c155="" class="section-contents container">
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Sukriti Macker </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted"> Maharaja Agrasen
                                    Institute of Technology </div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001222.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> I was a beginner in Coding, but
                            the way the Nidhi Ma’am taught was exceptionally good!The concepts she taught were so easy
                            to understand. Mentors will help you out at every step! Whatever course you may take, you
                            will be offered the best faculty. I would recommend you to join and it will be the best
                            experience. I guarantee! </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Shivam Aggarwal </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted"> Amazon </div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001217.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> I did three courses and was
                            extremely happy with all the courses. They provide quality content, the support from faculty
                            and mentors was amazing. It helped me a lot in preparing for my interview rounds for the
                            different companies. Finally I would say that it is a place to develop attitude and skills
                            required at the industry level. </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Yash Kapoor </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted">IIT BOMBAY</div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001228.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> Coding Ninjas plays a big role in
                            my success. It is a place which teaches you to find a solution rather than knowing a
                            solution and builds up a great foundation for any student. Being an electronics engineer, it
                            was difficult to enter the field of programming and my life would have been completely
                            different without Coding Ninjas support. </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Tanya Singh </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted"> Expedia </div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001224.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> I joined the course after knowing
                            that it has helped a lot of students in securing good jobs. The course content was really
                            good that I took another course which helped me grab an internship at Amazon and then
                            finally got placed at Expedia. I feel everyone must join as it a place which will the
                            elevate level of your skills, no matter how high it is! </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Sahil Harwani </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted"> Delhi Technological
                                    University </div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001214.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> Amazing experience at Coding
                            Ninjas. It was an extremely good atmosphere for learning as the teachers are very nice and
                            sweet and most importantly they teach very well. The CodeZen is also very well built, they
                            have hint videos and other online doubt resolution system as well. I will be enrolling
                            myself in another course very soon. </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <landing-testimonial _ngcontent-vxk-c155="" class="responsive-item ng-star-inserted"
                    _nghost-vxk-c154="">
                    <div _ngcontent-vxk-c154="" class="testimonial">
                        <div _ngcontent-vxk-c154="" class="header">
                            <div _ngcontent-vxk-c154="">
                                <div _ngcontent-vxk-c154="" class="name ng-star-inserted"> Ishtmeet Singh </div>
                                <!---->
                                <div _ngcontent-vxk-c154="" class="job-position ng-star-inserted"> Indian Institute of
                                    Technology Banaras </div>
                                <!---->
                            </div>
                            <div _ngcontent-vxk-c154="" class="profile ng-star-inserted"><img _ngcontent-vxk-c154=""
                                    src="https://files.codingninjas.in/0000000000001200.png"></div>
                            <!---->
                        </div>
                        <div _ngcontent-vxk-c154="" class="content ng-star-inserted"> I enrolled into C++ with data
                            structures at Coding Ninjas. I got admission into IIT but as a fresher I didn't know
                            anything about programming. After joining here, I have learnt a lot. Coding Ninjas' practice
                            modules and lectures are perfect and cover easy as well as hard coding questions. I am now
                            capable to think logics for the questions easily. </div>
                        <!---->
                    </div>
                </landing-testimonial>
                <!---->
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="d-block mb-2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
                    <small class="d-block mb-3 text-muted">© 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'https://code.jquery.com/jquery-3.5.1.slim.min.js'%}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'%}"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js'%}"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>

</html>